:root{
    --yellow: #FEE622;
    --orange: #F49237;
    --grey: #DBDBDB;
    --red: #F6522C;
    --blue: #8FC1E3;
    --purple: #760fcb;
    --black: #262626;
    --pink: #b369b8;
}

html body{
    font-family: unbounded, serif;
}

.one-page{
    height: 100vh;
    width: 100%;
}

.my-bg-primary{
    background-color: var(--purple);
}

.my-bg-secondary{
    background-color: whitesmoke;
}

.my-bg-third{
    background-color: var(--grey);
}

.my-bg-grad{
    background: rgb(179,105,184);
    background: linear-gradient(90deg, rgba(179,105,184,0.9948354341736695) 0%, rgba(196,70,183,1) 32%, rgba(203,15,177,1) 71%, rgba(170,42,228,1) 100%);
}

.my-font-color-purple{
    color: var(--purple);
}

.my-font-color-white{
    color: whitesmoke;
}

.my-border-purple{
    border: var(--purple) solid 2px;
}

.colorful{
    color: var(--pink)
}

/* Font*/
@font-face {
    font-family: rubik;
    src: url("plugin/font/RubikVinyl-Regular.ttf");
}

@font-face {
    font-family: unbounded;
    src: url("plugin/font/Unbounded-VariableFont_wght.ttf");
}

/* shapes */
.triangle-up {
    width: 0;
    height: 0;
}

.trapezoid-mid{
    height: 0;
    width: 400px;
}

.trapezoid-bottom{
    height: 0;
    width: 600px;
}

.shape{
    margin-top: 20px;
    border-bottom: 160px solid var(--pink); /* shape height */
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    box-shadow: rgba(118, 15, 203, 0.5) 0 15px 10px -10px;
}

/***
 Specific
*/
/* navigation */
.my-navbar{
    position: fixed;
    z-index: 100;
    top: 100px;
    background-color: #760fcb;
    padding: 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.navbar-brand{
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    background-color: var(--grey);
    color: var(--pink);
    font-family: unbounded, serif;
    height: 60px;
    padding-top: 17px;
    transition: 0.5s;
}

.navbar-brand:hover{
    color: var(--purple);
}

.nav-link{
    color: whitesmoke;
}

.nav-link:hover{
    color: whitesmoke;
}

.nav-item{
    transition: 0.5s;
}

.nav-item:hover{
    background-color: var(--pink);
    color: whitesmoke;
}

.title{
    font-size: 40px;
    margin-top: 100px;
    font-family: unbounded, serif;
    font-weight: bold;
}

.title-card{
    position: absolute;
    height: 300px;
    width: 40vw;
    right: 150px;
    text-align: center;
}

.half-page-divider{
    width: 100%;
    height: 250px;
}

.bkg-img-cover{
    opacity: 0.3;
    width: 100%;
    /*position: fixed;*/
    /*z-index: -1;*/
}

.card-vi{
    height: 300px;
    width: 60vw;
    background-color: var(--black);
    position: absolute;
    left: 50px;
    top: -150px;
    color: whitesmoke;
    padding-top: 100px;
    padding-left: 50px;
}

.card-arch{
    height: 200px;
    width: 50vw;
    background-color: var(--purple);
    position: absolute;
    right: 50px;
    top: 60px;
    color: whitesmoke;
    padding: 50px;
}

.arch-description{
    padding-top: 30px;
    height: 33%;
    color: var(--pink);
    font-weight: bolder;
    font-size: 30px;
}

.detail-container{
    position: relative;
    height: 100%;
}

.detail-bkg-img{
    position: absolute;
    height: 100%;
}

.side-page-content{
    background-color: var(--purple);
    position: relative;
    z-index: 10;
    padding: 100px;
}

.side-page-title{
    padding: 0;
}

.dail-content-container{
    background-color: floralwhite;
    height: 100%;
}

/***
 Elements
*/
#cover{
    position: relative;
    z-index: 10;
    height: 100vh;
}

#architecture{
    /*height: 120vh;*/
    position: relative;
    z-index: 10;
    padding-bottom: 100px;
}

#container-arch{
    padding-top: 350px;
    text-align: -webkit-center;
}

#footer{
    height: 30vh;
    position: relative;
    z-index: 10;
    background-color: whitesmoke;
}
